body {
  background-color: rgb(239, 239, 239);
  margin: 0;
  background-image: url('http://loggado.com/wp-content/uploads/2017/07/Harry-Potter-Hogwarts-800x445.jpg');
  background-size: cover;
  font-family: serif;
  width: 1366px;
  height: 768px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 167, 145);
  align-items: center;
  margin-bottom: 20px;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-header-logo {
  height: 100px;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  background-color: rgb(60, 64, 74);
  color: rgb(239, 239, 239);
  text-align: center;
  padding: 7px;
  margin-top: 20px;
}

header h1 {
  color: rgb(239, 239, 239);
}

#coment p {
  margin-top: 0;
}

#counter {
  color: rgb(46, 46, 46);
}

#evaluation-form p {
  padding-left: 5%;
  color: white;
}

.input-text-login {
  width: 120px;
  padding: 5px;
  margin: 0 2px;
  border-radius: 5px;
  border-style: none;
}

.input-text {
  width: 290px;
  border-radius: 5px;
  border-style: none;
  padding: 10px 5px;
  margin: 5px;
}

#textarea {
  width: 87%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
}

#label-casa {
  margin: 4px;
}

#house {
  width: 260px;
  border-radius: 5px;
  border-style: none;
  padding: 10px 5px;
}

.fonte-bold {
  font-weight: 900;
}

#botao-login {
  border-radius: 5px;
  border-style: none;
  margin: 0 2px;
  width: 80px;
  color: white;
  background-color: rgb(81, 34, 134);
}

#submit-btn {
  width: 90%;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: 900;
}

.espaco {
  padding: 10px 0;
}
